<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
  <title>Welcome to Flask Workshop</title>
</head>
<body>
  {% if name %}
    <span class="message">Welcome, {{ name }}!</span>
    <p>{{ date.strftime("%A, %d %B, %Y at %X") }}.</p>
  {% else %}
    <span class="message">Please provide your name after /hello/ in the URL.</span>
  {% endif %}
</body>
</html>